<ns-action-bar title="Donate"></ns-action-bar>
<FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center" class="bgImageQrcode">

</FlexboxLayout>

<!--
<ns-action-bar title="Finances List"></ns-action-bar>
<ListView [items]="finances">
    <ng-template let-finance="item">
        <StackLayout>
            <label [text]="finance.organization + ' : ' + finance.amount" [nsRouterLink]="['/finances/detail', finance?._id]" pageTransition="slideLeft"></label>
        </StackLayout>
    </ng-template>
</ListView>
<StackLayout *ngIf="!finances.length" horizontalAlignment="center" verticalAlignment="center">
    <label text="There is no new financial contributions!"></label>
</StackLayout>
-->